<link rel="stylesheet" href="/stylesheets/for_wave_row.css">
<link rel="stylesheet" href="/stylesheets/order.css">
<link rel="stylesheet" href="/stylesheets/list-and-no.css">
<link rel="stylesheet" href="/stylesheets/selectAndselected.css">

<script src="/javascripts/order.js"></script>

</head>

<body>
    <!-- 移动端mobile header -->
    <%- include('./mobile-header') %>

    <!-- Sidebar Menu -->
    <%- include('./sidebar-menu') %>

    <!-- PC顶部fixed -->
    <%- include('./top') %>


    <!-- Page Contents -->
    <div class="pusher" id="pusher">
        <%- include('./list-no') %>
        <%- include('./list') %>
    </div>


    </div>